* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  /* background-color: #223343; */
}

#cardBody {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: black;
}
